/* Layout widths */
/* Colors */
/* Typography */
/* 16px */
/* 18px */
/* 32px */
/* 40px */
/* 48px */
/* 64px */
/* 26px */
/* 36px */
/* 44px */
/* 48px */
/* 64px */
/* 4px */
/* Spacing 24 space definitions with 6 naming convention = 4 in each group*/
/* 1px */
/* 4px */
/* 8px */
/* 11px */
/* 15px */
/* 16px */
/* 19px */
/* 24px */
/* 25px */
/* 30px */
/* 32px */
/* 34px */
/* 40px */
/* 48px */
/* 54px */
/* 56px */
/* 61px */
/* 64px */
/* 66px */
/* 67px */
/* 72px */
/* 80px */
/* 84px */
/* 88px */
/* 92px */
/* 104px */
/* 110px */
/* 118px */
/* 125px */
/* Borders */
/* 8px */
/* 29px */
/* 1px */
/* 4px */
/* Layout widths */
/* Colors */
/* Typography */
/* 16px */
/* 18px */
/* 32px */
/* 40px */
/* 48px */
/* 64px */
/* 26px */
/* 36px */
/* 44px */
/* 48px */
/* 64px */
/* 4px */
/* Spacing 24 space definitions with 6 naming convention = 4 in each group*/
/* 1px */
/* 4px */
/* 8px */
/* 11px */
/* 15px */
/* 16px */
/* 19px */
/* 24px */
/* 25px */
/* 30px */
/* 32px */
/* 34px */
/* 40px */
/* 48px */
/* 54px */
/* 56px */
/* 61px */
/* 64px */
/* 66px */
/* 67px */
/* 72px */
/* 80px */
/* 84px */
/* 88px */
/* 92px */
/* 104px */
/* 110px */
/* 118px */
/* 125px */
/* Borders */
/* 8px */
/* 29px */
/* 1px */
/* 4px */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
p {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.1; /* Set shorter line heights on headings and interactive elements */
}

h1 {
  text-wrap: balance; /* Balance text wrapping on headings */
}

/* Remove built-in form typography styles */
button {
  font: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./assets/fonts/RedHatDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./assets/fonts/RedHatDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
}

header {
  padding-top: 3rem;
  padding-bottom: 3.375rem;
}

main h1 {
  color: hsl(239, 21%, 20%);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.75rem;
}
main h2 {
  color: hsl(239, 21%, 20%);
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.25rem;
}
main p {
  color: hsl(239, 10%, 57%);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}

button,
a {
  color: hsl(0, 0%, 100%);
  border-radius: 1.8125rem;
  padding: 1rem;
  border-width: 0rem;
  font-size: 1rem;
  line-height: 1.625rem; /* Without specifying font size and line height, button has its own style */
  font-weight: 900;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
button:hover,
a:hover {
  cursor: pointer;
}
button:focus-visible, button:focus,
a:focus-visible,
a:focus {
  box-shadow: 0 0 0 0.25rem hsl(239, 21%, 20%);
  outline: none;
  outline-offset: 0;
}

.btn--primary {
  background-color: hsl(192, 37%, 48%);
}
.btn--primary strong {
  color: hsl(192, 90%, 77%);
}
.btn--primary:hover {
  background-color: hsl(192, 54%, 64%);
}

.btn--secondary {
  background-color: hsl(268, 34%, 53%);
}
.btn--secondary strong {
  color: hsl(268, 100%, 86%);
}
.btn--secondary:hover {
  background-color: hsl(268, 55%, 71%);
}

a {
  text-decoration: none;
  min-width: 8.6875rem; /* 139px */
}

button {
  min-width: 12.0625rem; /* 193px */
}

article h1,
article h2,
article p {
  max-width: 20.4375rem; /* 327px */
}

.demarcation-section .number {
  color: hsl(240, 10%, 57%);
  font-weight: 900;
  border: 0.0625rem solid hsla(240, 10%, 57%, 0.25);
  border-radius: 1.8125rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
}
.demarcation-section .line {
  width: 0.0625rem;
  height: 5.25rem;
  background-color: hsla(240, 10%, 57%, 0.25);
  transform: translateX(1.75rem); /* 28px */
}

@media (min-width: 48rem) {
  header {
    padding-bottom: 4rem;
  }
  article h1,
  article h2,
  article p {
    max-width: 28.5625rem; /* 457px */
  }
  #what-is-it__article {
    max-width: 35.8125rem; /* 573px */
  }
  #what-is-it__article h2 {
    max-width: 27.8125rem; /* 445px */
  }
  #what-is-it__article p {
    max-width: 100%;
  }
  main h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  main h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 80rem) {
  header {
    padding-top: 5rem;
    padding-bottom: 3.8125rem;
  }
  article h1,
  article h2,
  article p {
    max-width: 33.75rem; /* 540px */
  }
  #what-is-it__article {
    max-width: 33.75rem; /* 540px */
  }
  main h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  main p {
    font-size: 1.125rem;
  }
}
#intro-section {
  display: grid;
  grid-template-areas: "hero-left hero-right" "group-chat-article group-chat-article";
  column-gap: 1rem;
  row-gap: 3rem;
}
#intro-section img:first-child {
  grid-area: hero-left;
}
#intro-section img:nth-child(2) {
  grid-area: hero-right;
}

#intro-section__article {
  grid-area: group-chat-article;
  padding: 0rem 1.5rem 4rem;
  display: grid;
  grid-template-areas: "heading" "." "paragraph" "." "primary-action" "." "secondary-action";
  grid-template-rows: auto 1.5rem auto 2rem auto 1rem auto;
  justify-items: center;
}
#intro-section__article h1 {
  grid-area: heading;
}
#intro-section__article p {
  grid-area: paragraph;
}
#intro-section__article .btn--primary {
  grid-area: primary-action;
}
#intro-section__article .btn--secondary {
  grid-area: secondary-action;
}

@media (min-width: 48rem) {
  #intro-section__article {
    grid-template-areas: "heading heading heading heading" ". . . ." "paragraph paragraph paragraph paragraph" ". . . ." ". primary-action secondary-action .";
    grid-template-rows: auto 1.5rem auto 2rem auto;
    padding: 0rem 0rem 5rem;
    column-gap: 1rem;
  }
  #intro-section {
    column-gap: 2rem;
    row-gap: 4.5rem;
    justify-items: center;
  }
}
@media (min-width: 80rem) {
  #intro-section {
    grid-template-areas: "hero-left group-chat-article hero-right";
    column-gap: 5.5rem;
    align-items: center;
    padding-bottom: 7.375rem;
  }
  #intro-section__article {
    padding: 2.9375rem 0rem 0rem 0rem; /* 47px = 2.9375rem */
    grid-template-rows: auto 2.125rem auto 2rem auto;
  }
  #image-hero-right {
    transform: translateY(5rem); /* 55px */
  }
}
#what-is-it {
  padding: 4rem 1.5rem;
  display: grid;
  grid-template-areas: "image-woman-in-videocall image-women-videochatting" "image-men-in-meeting image-man-texting" ". ." "what-is-it__article what-is-it__article";
  row-gap: 1.5rem;
  column-gap: 1.5625rem;
  grid-template-rows: auto auto 1rem auto;
}
#what-is-it img {
  border-radius: 0.5rem;
  width: 9.4375rem; /* 151px */
  height: 8.9375rem; /* 143px */
}
#what-is-it img:first-child {
  grid-area: image-woman-in-videocall;
}
#what-is-it img:nth-child(2) {
  grid-area: image-women-videochatting;
}
#what-is-it img:nth-child(3) {
  grid-area: image-men-in-meeting;
}
#what-is-it img:nth-child(4) {
  grid-area: image-man-texting;
}

#what-is-it__article {
  grid-area: what-is-it__article;
  display: grid;
  grid-template-areas: "ribbon-text" "heading" "paragraph";
  row-gap: 1.5rem;
}
#what-is-it__article p:not([class]) {
  padding-top: 0.5rem;
  grid-area: paragraph;
}

.ribbon-text {
  grid-area: ribbon-text;
  text-transform: uppercase;
  color: hsl(192, 37%, 48%);
  font-weight: 900;
  letter-spacing: 0.25rem;
}

@media (min-width: 48rem) {
  #what-is-it__article {
    row-gap: 1rem;
    justify-items: center;
  }
  #what-is-it__article p:not([class]) {
    padding-top: 1rem;
  }
  #what-is-it {
    padding: 4.1875rem 0rem 5rem;
    grid-template-areas: "image-woman-in-videocall image-women-videochatting image-men-in-meeting image-man-texting" ". . . ." "what-is-it__article what-is-it__article what-is-it__article what-is-it__article";
    row-gap: 1rem;
    column-gap: 0.6875rem;
    grid-template-rows: auto 1rem auto;
    justify-items: center;
  }
  #what-is-it img {
    width: 10.25rem; /* 164px */
    height: 9.75rem; /* 156px */
  }
}
@media (min-width: 80rem) {
  #what-is-it {
    column-gap: 1.875rem;
    padding: 4rem 0rem 4.5rem;
    row-gap: 1.5625rem;
    grid-template-rows: auto 1.875rem auto;
  }
  #what-is-it img {
    width: 15.9375rem; /* 255px */
    height: 15.125rem; /* 242px */
  }
}
.footer {
  display: grid;
  grid-template-areas: "heading" "paragraph" "action";
  row-gap: 1.5rem;
  justify-items: center;
  padding: 4rem 1.5rem 4.5rem;
}
.footer h2 {
  grid-area: heading;
  color: hsl(0, 0%, 98%);
}
.footer p {
  grid-area: paragraph;
  font-size: 1.125rem;
  color: hsl(0, 0%, 98%);
}
.footer button {
  grid-area: action;
  margin-top: 0.5rem;
}

footer {
  position: relative;
}

.footer-background {
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: hsl(192, 37%, 48%);
}
.footer-background img {
  height: 100%;
  width: 100%;
  mix-blend-mode: soft-light;
  opacity: 0.5;
}

@media (min-width: 48rem) {
  .footer {
    row-gap: 2rem;
    padding: 4rem 0rem 4.125rem;
  }
  .footer p {
    max-width: 35.8125rem; /* 573px */
  }
}
@media (min-width: 80rem) {
  .footer {
    grid-template-areas: "heading paragraph action";
    column-gap: 5.75rem;
    text-align: left;
    padding: 5.5rem 0rem 6.5rem;
    align-items: center;
    min-width: 69.375rem; /* 1110px */
  }
  .footer h2, .footer p {
    max-width: 21.875rem; /* 350px */
  }
  .footer p {
    padding-left: 2.0625rem; /* 33px */
  }
  .footer button {
    margin-top: 0rem;
  }
}
