:root {
  /* Colors */
  --primary-color-1: hsl(192, 37%, 48%);
  --primary-color-2: hsl(192, 54%, 64%);
  --primary-color-3: hsl(192, 90%, 77%);
  --secondary-color-1: hsl(268, 34%, 53%);
  --secondary-color-2: hsl(268, 55%, 71%);
  --secondary-color-3: hsl(268, 100%, 86%);
  --neutral-color-1: hsl(239, 21%, 20%);
  --neutral-color-2: hsl(239, 10%, 57%);
  --neutral-color-3: hsl(240, 10%, 57%, 0.25);
  --neutral-color-4: hsl(0, 0%, 98%);
  --neutral-color-5: hsl(0, 0%, 100%);
  --neutral-color-6: hsl(0, 0%, 85%);
  /* Typography */
  --font-size-xs: 1rem; /* 16px */
  --font-size-s: 1.125rem; /* 18px */
  --font-size-base: 2rem; /* 32px */
  --font-size-medium: 2.5rem; /* 40px */
  --font-size-l: 3rem; /* 48px */
  --font-size-xl: 4rem; /* 64px */
  --font-weight-medium: 500;
  --font-weight-black: 900;
  --line-height-xs: 1.625rem; /* 26px */
  --line-height-base: 2.25rem; /* 36px */
  --line-height-medium: 2.75rem; /* 44px */
  --line-height-l: 3rem; /* 48px */
  --line-height-xl: 4rem; /* 64px */
  --letter-spacing: 0.25rem; /* 4px */
  /* Spacing 24 space definitions with 6 naming convention = 4 in each group*/
  --space-none: 0rem;
  --space-xs-5: 0.0625rem; /* 1px */
  --space-xs-1: 0.25rem; /* 4px */
  --space-xs-6: 0.5rem; /*8px*/
  --space-xs-2: 0.6875rem; /* 11px */
  --space-xs-3: 0.9375rem; /* 15px */
  --space-xs-4: 1rem; /* 16px */
  --space-s-1: 1.1875rem; /* 19px */
  --space-s-2: 1.5rem; /* 24px */
  --space-s-3: 1.5625rem; /* 25px */
  --space-s-4: 1.875rem; /* 30px */
  --space-base-1: 2rem; /* 32px */
  --space-base-2: 2.125rem; /* 34px */
  --space-base-3: 2.5rem; /* 40px */
  --space-base-4: 3rem; /* 48px */
  --space-medium-1: 3.375rem; /* 54px */
  --space-medium-5: 3.5rem; /* 56px */
  --space-medium-2: 3.8125rem; /* 61px */
  --space-medium-3: 4rem; /* 64px */
  --space-medium-4: 4.125rem; /* 66px */
  --space-l-1: 4.1875rem; /* 67px */
  --space-l-2: 4.5rem; /* 72px */
  --space-l-3: 5rem; /* 80px */
  --space-l-4: 5.25rem; /* 84px */
  --space-xl-1: 5.5rem; /* 88px */
  --space-xl-2: 5.75rem; /* 92px */
  --space-xl-3: 6.875rem; /* 110px */
  --space-xl-4: 7.8125rem; /* 125px */
  /* Borders */
  --border-radius-none: 0rem;
  --border-radius-soft: 0.5rem; /* 8px */
  --border-radius-rounded: 1.8125rem; /* 29px */
  --border-width-none: 0rem;
  --border-width-s: 0.0625rem; /* 1px */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
p {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.1; /* Set shorter line heights on headings and interactive elements */
  text-wrap: balance; /* Balance text wrapping on headings */
}

/* Remove built-in form typography styles */
button {
  font: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: var(--link-color);
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./assets/fonts/RedHatDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./assets/fonts/RedHatDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
main,
footer {
  min-width: 25.875rem; /* 414px */ /*RRC: Explore this - min-width , max-width*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-x: hidden; */
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--neutral-color-4);
}

header {
  padding-top: var(--space-base-4);
  padding-bottom: var(--space-medium-1);
}

main h1 {
  color: var(--neutral-color-1);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-medium);
}
main h2 {
  color: var(--neutral-color-1);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-base);
  grid-area: heading;
}
main p {
  color: var(--neutral-color-2);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xs);
}

button,
a {
  color: var(--neutral-color-5);
  border-radius: var(--border-radius-rounded);
  padding: var(--space-xs-4);
  border-width: var(--border-width-none);
  font-size: var(--font-size-xs);
  line-height: var(
    --line-height-xs
  ); /* Without specifying font size and line height, button has its own style */
  font-weight: var(--font-weight-black);
  display: flex;
  justify-content: center;
  gap: var(--space-xs-1);
}
button:hover,
a:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary-color-1);
}
.btn--primary strong {
  color: var(--primary-color-3);
}
.btn--primary:hover {
  background-color: var(--primary-color-2);
}

.btn--secondary {
  background-color: var(--secondary-color-1);
}
.btn--secondary strong {
  color: var(--secondary-color-3);
}
.btn--secondary:hover {
  background-color: var(--secondary-color-2);
}

a {
  text-decoration: none;
  min-width: 8.6875rem; /* 139px*/ /*RRC: Explore this - min-width , max-width*/
}

button {
  min-width: 12.0625rem; /* 193px*/ /*RRC: Explore this - min-width , max-width*/
}

article h1,
article h2,
article p {
  max-width: 20.4375rem; /* 327px */
}

.demarcation-section .number {
  color: var(--neutral-color-2);
  font-weight: var(--font-weight-black);
  border: var(--border-width-s) solid var(--neutral-color-3);
  border-radius: var(--border-radius-rounded);
  width: var(--space-medium-5);
  height: var(--space-medium-5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-color-4);
}
.demarcation-section .line {
  width: var(--space-xs-5);
  height: var(--space-l-4);
  background-color: var(--neutral-color-3);
  transform: translateX(1.75rem);
}

#intro-section {
  display: grid;
  grid-template-areas: "hero-left hero-right" "group-chat-article group-chat-article";
  column-gap: var(--space-xs-4);
  row-gap: var(--space-base-4);
}
#intro-section img:first-child {
  grid-area: hero-left;
}
#intro-section img:nth-child(2) {
  grid-area: hero-right;
}

#intro-section__article {
  grid-area: group-chat-article;
  padding: var(--space-none) var(--space-s-2) var(--space-medium-3);
  display: grid;
  grid-template-areas: "heading" "." "paragraph" "." "primary-action" "." "secondary-action";
  grid-template-rows: auto var(--space-s-2) auto var(--space-base-1) auto var(
      --space-xs-4
    ) auto;
  justify-items: center;
}
#intro-section__article h1 {
  grid-area: heading;
}
#intro-section__article p {
  grid-area: paragraph;
}
#intro-section__article .btn--primary {
  grid-area: primary-action;
}
#intro-section__article .btn--secondary {
  grid-area: secondary-action;
}

#what-is-it {
  padding: var(--space-medium-3) var(--space-s-2);
  display: grid;
  grid-template-areas: "image-woman-in-videocall image-women-videochatting" "image-men-in-meeting image-man-texting" ". ." "what-is-it__article what-is-it__article";
  row-gap: var(--space-s-2);
  column-gap: var(--space-s-3);
  grid-template-rows: auto auto var(--space-xs-4) auto;
}
#what-is-it img {
  border-radius: var(--border-radius-soft);
}
#what-is-it img:first-child {
  grid-area: image-woman-in-videocall;
}
#what-is-it img:nth-child(2) {
  grid-area: image-women-videochatting;
}
#what-is-it img:nth-child(3) {
  grid-area: image-men-in-meeting;
}
#what-is-it img:nth-child(4) {
  grid-area: image-man-texting;
}

#what-is-it__article {
  grid-area: what-is-it__article;
  display: grid;
  grid-template-areas: "ribbon-text" "heading" "paragraph";
  row-gap: var(--space-s-2);
}
#what-is-it__article p:not([class]) {
  padding-top: var(--space-xs-6);
  grid-area: paragraph;
}

.ribbon-text {
  grid-area: ribbon-text;
  text-transform: uppercase;
  color: var(--primary-color-1);
  font-weight: var(--font-weight-black);
  letter-spacing: var(--letter-spacing);
}

.footer {
  display: grid;
  grid-template-areas: "heading" "paragraph" "action";
  row-gap: var(--space-s-2);
  justify-items: center;
  padding: var(--space-medium-3) var(--space-s-2) var(--space-l-2);
}
.footer h2 {
  grid-area: heading;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-base);
  color: var(--neutral-color-4);
}
.footer p {
  grid-area: paragraph;
  font-size: var(--font-size-s);
  color: var(--neutral-color-4);
}
.footer button {
  grid-area: action;
  margin-top: var(--space-xs-6);
}

footer {
  position: relative;
}

.footer-background {
  height: 26.75rem; /* 428px */
  width: 25.875rem; /* 414px */
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: var(--primary-color-1);
}
.footer-background picture {
  mix-blend-mode: soft-light;
  opacity: 0.5;
}
.footer-background img {
  height: 26.75rem; /* 428px */
  width: 25.875rem; /* 414px */
}

/*# sourceMappingURL=style.css.map */
