@font-face {
  font-family: "Red Hat Display";
  src: url("./assets/fonts/RedHatDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./assets/fonts/RedHatDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%; /* RRC: Study the min-width, max-width*/
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: $line-height-xs;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $neutral-color-4;
}

header {
  padding-top: $space-base-4;
  padding-bottom: $space-medium-1;
}

main {
  h1 {
    color: $neutral-color-1;
    font-size: $font-size-medium;
    font-weight: $font-weight-black;
    line-height: $line-height-medium;
  }

  h2 {
    color: $neutral-color-1;
    font-size: $font-size-base;
    font-weight: $font-weight-black;
    line-height: $line-height-base;
  }

  p {
    color: $neutral-color-2;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    line-height: $line-height-xs;
  }
}

button,
a {
  color: $neutral-color-5;
  border-radius: $border-radius-rounded;
  padding: $space-xs-4;
  border-width: $border-width-none;
  font-size: $font-size-xs;
  line-height: $line-height-xs; /* Without specifying font size and line height, button has its own style */
  font-weight: $font-weight-black;
  display: flex;
  justify-content: center;
  gap: $space-xs-1;

  &:hover {
    cursor: pointer;
  }
}

@mixin button-styles($default-button-color, $text-color, $hover-button-color) {
  background-color: $default-button-color;

  strong {
    color: $text-color;
  }

  &:hover {
    background-color: $hover-button-color;
  }
}

.btn--primary {
  @include button-styles($primary-color-1, $primary-color-3, $primary-color-2);
}

.btn--secondary {
  @include button-styles(
    $secondary-color-1,
    $secondary-color-3,
    $secondary-color-2
  );
}

a {
  text-decoration: none;
  min-width: 8.6875rem; /* 139px*/ /*RRC: Explore this - min-width , max-width*/
}

button {
  min-width: 12.0625rem; /* 193px*/ /*RRC: Explore this - min-width , max-width*/
}

article {
  h1,
  h2,
  p {
    max-width: 20.4375rem; /* 327px */
  }
}

.demarcation-section {
  .number {
    color: $neutral-color-2;
    font-weight: $font-weight-black;
    border: $border-width-s solid $neutral-color-3;
    border-radius: $border-radius-rounded;
    width: $space-medium-5;
    height: $space-medium-5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $neutral-color-4;
  }

  .line {
    width: $space-xs-5;
    height: $space-l-4;
    background-color: $neutral-color-3;
    transform: translateX(1.75rem);
  }
}

@media (min-width: $tablet-layout-width) {
  header {
    padding-bottom: $space-medium-3;
  }

  article {
    h1,
    h2,
    p {
      max-width: 28.5625rem; /* 457px */
    }
  }

  #what-is-it__article {
    max-width: 35.8125rem; /* 573px */

    h2 {
      max-width: 27.8125rem; /* 445px */
    }

    p {
      max-width: 100%;
    }
  }

  main {
    h1 {
      font-size: $font-size-l;
      line-height: $line-height-l;
    }

    h2 {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
    }
  }
}

@media (min-width: $desktop-layout-width) {
  header {
    padding-top: $space-l-3;
    padding-bottom: $space-medium-2;
  }

  #what-is-it__article {
    max-width: 33.75rem;
  }

  main {
    h1 {
      font-size: $font-size-xl;
      line-height: $line-height-xl;
    }

    p {
      font-size: $font-size-s;
    }
  }
}
