.footer {
  display: grid;
  grid-template-areas:
    "heading"
    "paragraph"
    "action";
  row-gap: $space-s-2;
  justify-items: center;
  padding: $space-medium-3 $space-s-2 $space-l-2;

  h2 {
    grid-area: heading;
    color: $neutral-color-4;
  }

  p {
    grid-area: paragraph;
    font-size: $font-size-s;
    color: $neutral-color-4;
  }

  button {
    grid-area: action;
    margin-top: $space-xs-6;
  }
}

footer {
  position: relative;
}

.footer-background {
  /*aspect ratio = 4.68*/
  // height: 26.75rem; /* 428px */
  // width: 100%;
  aspect-ratio: 0.88;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: $primary-color-1;

  img {
    height: 100%;
    width: 100%;
    mix-blend-mode: soft-light;
    opacity: 0.5;
  }
}

@media (min-width: $tablet-layout-width) {
  .footer {
    row-gap: $space-base-1;
    padding: $space-medium-3 $space-none $space-medium-4;

    p {
      max-width: 35.8125rem; /* 573px */
    }
  }
}

@media (min-width: $desktop-layout-width) {
  .footer {
    grid-template-areas: "heading paragraph action";
    column-gap: $space-xl-2;
    text-align: left;
    padding: $space-xl-1 $space-none $space-xl-6;
    align-items: center;
    min-width: 69.375rem; /* 1110px */

    %max-width {
      max-width: 21.875rem; /* 350px */
    }
    p {
      @extend %max-width;
      padding-left: 2.0625rem; /* 33px */
    }

    h2 {
      @extend %max-width;
    }

    button {
      margin-top: $space-none;
    }
  }

  .footer-background {
    // height: 19.25rem; /* 308px */
    aspect-ratio: 4.68;
  }
}
