#intro-section {
  display: grid;
  grid-template-areas:
    "hero-left hero-right"
    "group-chat-article group-chat-article";
  column-gap: $space-xs-4;
  row-gap: $space-base-4;

  img {
    width: 12.4375rem; /* 199px */
    height: 9.5625rem; /* 153px */

    &:first-child {
      grid-area: hero-left;
    }

    &:nth-child(2) {
      grid-area: hero-right;
    }
  }
}

#intro-section__article {
  grid-area: group-chat-article;
  padding: $space-none $space-s-2 $space-medium-3;
  display: grid;
  grid-template-areas:
    "heading"
    "."
    "paragraph"
    "."
    "primary-action"
    "."
    "secondary-action";
  grid-template-rows:
    auto $space-s-2 auto $space-base-1 auto $space-xs-4
    auto;
  justify-items: center;

  h1 {
    grid-area: heading;
  }

  p {
    grid-area: paragraph;
  }

  .btn--primary {
    grid-area: primary-action;
  }

  .btn--secondary {
    grid-area: secondary-action;
  }
}

@media (min-width: $tablet-layout-width) {
  #intro-section__article {
    grid-template-areas:
      "heading heading"
      ". ."
      "paragraph paragraph"
      ". ."
      "primary-action secondary-action";
    grid-template-rows: auto $space-s-2 auto $space-base-1 auto;
    padding: $space-none $space-none $space-l-3;
  }

  #intro-section {
    column-gap: $space-base-1;
    row-gap: $space-l-2;

    img {
      width: 24.625rem; /*394px*/
      height: 18.9375rem; /*303px*/
    }
  }
}
