#intro-section {
  display: grid;
  grid-template-areas:
    "hero-left hero-right"
    "group-chat-article group-chat-article";
  column-gap: $space-xs-4;
  row-gap: $space-base-4;

  img {
    width: 11rem; /* 176px */
    //height: 9.5625rem; /* 153px */
    height: 8.46125rem; /* 135.38px */

    &:first-child {
      grid-area: hero-left;
    }

    &:nth-child(2) {
      grid-area: hero-right;
    }
  }
}

#intro-section__article {
  grid-area: group-chat-article;
  padding: $space-none $space-s-2 $space-medium-3;
  display: grid;
  grid-template-areas:
    "heading"
    "."
    "paragraph"
    "."
    "primary-action"
    "."
    "secondary-action";
  grid-template-rows:
    auto $space-s-2 auto $space-base-1 auto $space-xs-4
    auto;
  justify-items: center;

  h1 {
    grid-area: heading;
  }

  p {
    grid-area: paragraph;
  }

  .btn--primary {
    grid-area: primary-action;
  }

  .btn--secondary {
    grid-area: secondary-action;
  }
}

@media (min-width: $tablet-layout-width) {
  #intro-section__article {
    grid-template-areas:
      "heading heading heading heading"
      ". . . ."
      "paragraph paragraph paragraph paragraph"
      ". . . ."
      ". primary-action secondary-action .";
    grid-template-rows: auto $space-s-2 auto $space-base-1 auto;
    padding: $space-none $space-none $space-l-3;
    column-gap: $space-xs-4;
  }

  #intro-section {
    column-gap: $space-base-1;
    row-gap: $space-l-2;
    justify-items: center;

    img {
      /*aspect ratio = 1.30*/
      width: 23rem; /* 368px */
      height: 17.69rem; /* 283.07px */
    }
  }
}

@media (min-width: $desktop-layout-width) {
  #intro-section {
    grid-template-areas: "hero-left group-chat-article hero-right";
    column-gap: $space-xl-1;
    align-items: center;
    padding-bottom: $space-xl-5;

    img {
      /*aspect ratio = 1.30*/
      width: 18rem; /* 288px */
      height: 13.845625rem; /* 221.53px */
    }
  }

  #intro-section__article {
    padding: 2.9375rem $space-none $space-none $space-none; /* 47px = 2.9375rem */
    grid-template-rows: auto $space-base-2 auto $space-base-1 auto;
  }

  #image-hero-right {
    transform: translateY($space-l-3); /* 55px */
  }
}
