#what-is-it {
  padding: $space-medium-3 $space-s-2;
  display: grid;
  grid-template-areas:
    "image-woman-in-videocall image-women-videochatting"
    "image-men-in-meeting image-man-texting"
    ". ."
    "what-is-it__article what-is-it__article";
  row-gap: $space-s-2;
  column-gap: $space-s-3;
  grid-template-rows: auto auto $space-xs-4 auto;

  img {
    border-radius: $border-radius-soft;
    width: 9.4375rem; /* 151px */
    height: 8.9375rem; /* 143px */

    &:first-child {
      grid-area: image-woman-in-videocall;
    }

    &:nth-child(2) {
      grid-area: image-women-videochatting;
    }

    &:nth-child(3) {
      grid-area: image-men-in-meeting;
    }

    &:nth-child(4) {
      grid-area: image-man-texting;
    }
  }
}

#what-is-it__article {
  grid-area: what-is-it__article;
  display: grid;
  grid-template-areas:
    "ribbon-text"
    "heading"
    "paragraph";
  row-gap: $space-s-2;

  p:not([class]) {
    padding-top: $space-xs-6;
    grid-area: paragraph;
  }
}

.ribbon-text {
  grid-area: ribbon-text;
  text-transform: uppercase;
  color: $primary-color-1;
  font-weight: $font-weight-black;
  letter-spacing: $letter-spacing;
}

@media (min-width: $tablet-layout-width) {
  #what-is-it__article {
    row-gap: $space-xs-4;
    justify-items: center;

    p:not([class]) {
      padding-top: $space-xs-4;
    }
  }

  #what-is-it {
    padding: $space-l-1 $space-none $space-l-3 $space-none;
    grid-template-areas:
      "image-woman-in-videocall image-women-videochatting image-men-in-meeting image-man-texting"
      ". . . ."
      "what-is-it__article what-is-it__article what-is-it__article what-is-it__article";
    row-gap: $space-xs-4;
    column-gap: $space-xs-2;
    grid-template-rows: auto $space-xs-4 auto;
    justify-items: center;

    img {
      width: 10.25rem; /* 164px */
      height: 9.75rem; /* 156px */
    }
  }
}

@media (min-width: $desktop-layout-width) {
  #what-is-it {
    column-gap: $space-s-4;
    padding: $space-medium-3 $space-none $space-l-3 $space-none;
    row-gap: $space-s-3;
    grid-template-rows: auto $space-s-4 auto;

    img {
      width: 15.9375rem; /* 255px */
      height: 15.125rem; /* 242px */
    }
  }
}
